<div class="success">
    <h2 class="successTitle"></h2>
    <div class="resultOneTwo">
        <p>Total: <strong class="totalOneTwo"></strong></p>
        <p>------- <strong class="totalOneTwoRound"></strong></p>
    </div>
    <div class="resultThree">
        <p>Time: <strong class="totalThree"></strong></p>
        <p>------ <strong class="totalThreeRound"></strong></p>
    </div>
</div>
<div class="error">
    <h2 class="errorTitle"></h2>
</div>