<div class="jumbotron" style="margin-top: 50px;">
    <div class="container">
        <h1>
            <img src="https://a.slack-edge.com/0180/img/emoji_270c_fade.gif" style="width: 50px; margin-bottom: 4px;">
            Financial Calculator API
        </h1>
        <p>What bootstrap components I have already implemented:</p>
        <ol>
            <li><p>Tab</p></li>
            <li><p>Dismissable Alerts</p></li>
            <li><p>Tooltip</p></li>
            <li><p>Fixed Scrollspy</p></li>
        </ol>
    </div>
</div>