<div class="jumbotron" style="margin-top: 50px;">
    <div class="container">
        <h1>
            <img src="https://a.slack-edge.com/0180/img/emoji_270c_fade.gif" style="width: 50px; margin-bottom: 4px;">
            Dynamic Movies
        </h1>
        <p>It's time to build a frontend for our movie API! Using a combination of jQuery, AJAX, and Express.</p>
    </div>
</div>