<header class="row">
    <div class="col-md-12">
        <h1><a href="/">Financial Calculator (FC) API</a></h1>
        <h3>
        	<a href="/calculate">
        		<span class="glyphicon glyphicon-hand-right"></span>
        		Go to use it
        		<span class="glyphicon glyphicon-hand-left"></span>
        	</a>
        </h3>
    </div>
</header>