<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <% include ../partials/header %>
            <main>
                <ul class="nav nav-tabs" style="margin-top:30px;">
                    <li class="active">
                        <a data-toggle="tab" href="#retire">Monthly Retirement Savings</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#invest">Invested Amount</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#loan">Loan Payoff</a>
                    </li>
                </ul>

                <div class="tab-content" style="margin-top:10px;">
                    <div id="retire" class="tab-pane fade in active">
                        <section class="fc-form">
                            <% locals.formType = "retire"; %>
                            <% include ../partials/fc-form %>
                        </section>
                    </div>
                    <div id="invest" class="tab-pane fade">
                        <section class="fc-form">
                            <% locals.formType = "invest"; %>
                            <% include ../partials/fc-form %>
                        </section>
                    </div>
                    <div id="loan" class="tab-pane fade"> 
                        <section class="fc-form">
                            <% locals.formType = "loan"; %>
                            <% include ../partials/fc-form %>
                        </section>
                    </div>        
                </div>
            </main>
    </div>

    <% include ../partials/scripts %>
</body>

</html>